<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
  <Appenders>
    Console name="A1" target="SYSTEM_OUT">
      <PatternLayout
      pattern="&#60;%-4p&#62; %d{dd-MMM-yyyy::HH:mm:ss.SSS} %C{1} %t: - %m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="A1"/>
    </Root>
  </Loggers>
</Configuration>
